
.navbar-container{
    height: 6em;
    display: grid;
    /*Grid Settings */
    grid-template-columns: repeat(3, 10em); 
    grid-template-rows: 1fr; 
    grid-column-gap: 0.5em;
    /*Margin um zum Browser Rand abstand zu generien*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.navbar-item{
    display:flex;
    justify-content: center;
    align-content:center;
    
    
}
.navbar-item > a{
    margin-top: auto;
    margin-bottom: auto;
    height: 2.4em;
}

#navbarLogo{
    margin: auto;
    height:4.5em;
    width: 10em;
}

