/*
    Color-Codes
    Bootstrap secondary grey: 687178
*/

.navbar-container{
    background-color: #f7f7f7;
    border-radius: 12px;
    height: 6em;
    display: grid;
    /*Grid Settings */
    grid-template-columns: 15em repeat(6, 10em); 
    grid-column-gap: 0.5em;
    /*Margin um zum Browser Rand abstand zu generien*/
    margin-top: 0.5em;
    margin-bottom: 5em;
    margin-left: 1em;
    margin-right: 1em;
    
}
.navbar-item{
    display:flex;
    justify-content: center;
    align-content:center;
}
.navbar-item > a{
    border-radius: 15px;
    background-color: #f7f7f7e3;
    margin-top: auto;
    margin-bottom: auto;
    height: 2.4em;
}
.navbar-item > a:hover{
    transform: scale(1.1);
    transition-duration: 500ms;
    border-color: black;
}

#navbarLogo{
    border-radius:12px;
    margin: auto;
    margin-left: 1em;
    height:4.5em;
    width: 10em;
}
#navbarLogo:hover{
    transform: scale(1.1);
    transition-duration: 500ms;
    border-color: black;
}

