@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@699&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



.shade{
    position: absolute;
    width: 100%;
    height: 100%;
	border: solid #BDBDBD 1px; 
	box-shadow: 5px 34px 97px rgba(0, 0, 0, 0.5) inset; 
	-webkit-box-shadow: 5px 34px 97px rgba(0, 0, 0, 0.5) inset; 
	-moz-box-shadow: 5px 34px 97px rgba(0, 0, 0, 0.5) inset;  
    top: 0;
    left: 0;
}

@keyframes showBlock {
    from { display: block; opacity: 0; }
    to { opacity: 1; }
}
.btn{
    @apply bg-purple text-white hover:bg-white hover:text-purple transition ease-in-out;
}

#searchbar{
    animation:showBlock 0.3s;
}
.show{
    display:block;
}
.headline{
    font-family: 'Roboto Mono', monospace;
}

.login{
    background: rgba(0,0,0,0.5);
    position:fixed;
    top:4.9rem;
    left:0;
    width:100%;
    height:100%;
    display:none;
    animation:showBlock 0.3s;
}

